<!-- Footer with NEU logo and nav links -->
<div class="footer">
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-12 col-md-6 d-flex align-items-center">
        <a href="https://kevindick.ai">
          <img
            class="footer-neu-logo"
            src="assets/images/dick-ai-lab_logo_m.png"
            alt="Dick AI Lab"
          />
        </a>
      </div>
      <div class="col-sm-12 col-md-6 d-flex align-items-center nav-container">
        <ul class="footer-nav">
          <li class="nav-item">
            <a class="nav-link" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/people">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/404.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/404.html">Publications</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col d-flex justify-content-center">
        <a href="/">
          <h1 class="footer-title">The DICK AI LAB @ <span>CHEO-RI &amp; BORN</span></h1>
        </a>
      </div>
    </div>
  </div>
</div>
